{% extends "admin/index.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}
Admin - Lives
{% endblock %}

{% block operation %}
    <a href="{{ url_for('admin.create_live') }}" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        创建直播
    </a>
{% endblock %}

{% block admin %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>主播</th>
            <th>操作</th>
        </tr>
        <tbody>
            {% for live in pagination.items %}
                <tr>
                    <td>{{ live.id }}</td>
                    <td>{{ live.name }}</td>
                    <td>{{ live.broadcaster.username }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="{{ url_for('admin.update_live', live_id=live.id) }}" type="button" class="btn btn-default" title="编辑">
                                <span class="glyphicon glyphicon-pencil" title="编辑" aria-hidden="true"></span>
                            </a>
                            <a href="{{ url_for('admin.delete_live', live_id=live.id) }}" type="button" class="btn btn-default" title="删除">
                                <span class="glyphicon glyphicon-trash" title="删除" aria-hidden="true"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>

<!-- 使用 macro 渲染分页 -->
{{ render_pagination(pagination, 'admin.lives') }}
{% endblock %}

